body {
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440;
  margin: auto;
}

.header {
  display: flex;
  padding: 92px 50px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
}

.cover {
  padding: ;
}

.span-left {
  text-align: left;
}

.span-center {
  text-align: center;
}

.span-right {
  text-align: right;
}

.lots {
  padding: ;
}

.about {
  padding: ;
}

.footer {
  padding: ;
}
