body {
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440;
  margin: auto;
}

.header {
  display: flex;
  padding: 92px 50px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
}

.header__links-list {
  display: flex;
  flex-direction: row;
}

.header__links-list-item {
}

.header__links-list-item .header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
}

.cover {
  padding: ;
}

.cover-title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.span-left {
  text-align: left;
}

.span-center {
  text-align: center;
}

.span-right {
  text-align: right;
}

.lots {
  padding: ;
}

.about {
  padding: ;
}

.footer {
  padding: ;
}
