body {
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440;
  margin: auto;
}

.header {
  display: flex;
  padding: 92px 50px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}

.content-active {
  list-style: none;
}

.cover {
  padding: ;
}

.fon {
  width: 1440px;
  height: 757px;
  flex-shrink: 0;
  z-index: -1;
}

.span-left {
  display: flex;
  justify-content: left;
  color: #070707;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.span-center {
  display: flex;
  justify-content: center;
  color: #070707;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.span-right {
  display: flex;
  justify-content: right;
  color: #070707;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.lots {
  padding: ;
}

.about {
  padding: ;
}

.footer {
  padding: ;
}
